/* ----------------------------------------- 
    StyleSheet for bio and abstract
	------------------------------------------ */	
body {
  padding: 2em 1em 2em 70px;
  margin: 0;
  font-family: sans-serif;
  color: black;
  background: #ffffff;
}
p {
    margin-top: 0;                  
    margin-bottom: .5em; 
  }
h1 {font-size:200%;
   color:#0066ff;}
h2 {font-size:120%;
   color:#0066ff;}
/* ----------------------------------------- 
    To simulate a back button
	------------------------------------------ */		 
.bigParagraph {
             margin-top: 2em;       
}	 	 
