/* massimo.css  by Massimo AT w3c.it 2010 */
/* em { color: blue; } */
code {color:purple;font-weight:bold}
pre > code{color:#00428C}
dt {color:#006699;font-weight:bold}
pre > code > em, pre > em {color:green}
cite {margin-left:1em}
div.primapagina {border-style:solid;border-width:2px;padding:1em;background:rgb(240, 240, 240) none repeat scroll 0%;overflow:auto;position:absolute;z-index:300;width:60%;max-width:30em;height:30em;top:auto;right:auto;left:4em;bottom:4em;-moz-background-clip:-moz-initial;-moz-background-origin:-moz-initial;-moz-background-inline-policy:-moz-initial;font-size:60%;visibility:hidden;display:none}
div.mezzosfondobianco {background-color:rgb(255, 255, 255);margin-right:0%;margin-left:-5%;float:left;width:30%;height:100%}
div.mezzaprimapagina {background:inherit;float:right;width:67%}
.pagina60 {font-size:60% !important}
.pagina65 {font-size:65% !important} 
.pagina70 {font-size:70% !important} 
.pagina75 {font-size:75% !important}
.pagina80 {font-size:80% !important}
.pagina85 {font-size:85% !important}
.pagina95 {font-size:95% !important}
div.right {float:right;margin-right:1em !important}
div.left {float:left !important}
.left50{float:left !important;width:50% !important}
.right50{float:right !important;width:50% !important}
.red {color:red}
.green {color:green}
.darkgreen {color:darkgreen}
.purple {color:purple}
.blue {color:blue}
.magenta {color:magenta}
.underline {text-decoration:underline}
.italic {font-style:italic}
div.mezzaprimapagina > h1 {color:#ff0000 !important;font-size: 200% !important;text-shadow: 0.1em 0.1em 0.1em #ffffaa !important}
div.mezzaprimapagina > h2 {font-size:140% !important}
.reflected {background: #fff url(../common/itlogo-20010115.png) no-repeat;padding-top:2em;height:1em;overflow: hidden;float:left;position:relative}
.reflected img{-webkit-transform: rotate(180deg);-moz-transform: rotate(180deg);opacity:0.3}  
pre {background-color:#EEFAFA; font-family:'Droid Sans Mono',Courier;text-shadow:0 2px 5px rgba(0, 0, 0, 0.2);-moz-border-radius: 1em;-webkit-border-radius: 0.5em;-moz-box-shadow: 0.8em 0.4em 0.4em #cccccc}
/* div.slide h1 { background:-moz-linear-gradient(left top , #2222FF, #5555FF) repeat scroll 0 0 transparent; } */
.double{font-size:1em !important}
.bluebutton{font:1.1em Arial;-moz-box-shadow:inset 0px 1px 0px 0px #bbdaf7;-webkit-box-shadow:inset 0px 1px 0px 0px #bbdaf7;box-shadow:inset 0px 1px 0px 0px #bbdaf7;background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #79bbff), color-stop(1, #378de5) );background:-moz-linear-gradient( center top, #79bbff 5%, #378de5 100% );filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#79bbff', endColorstr='#378de5');background-color:#79bbff;-moz-border-radius:6px;-webkit-border-radius:6px;border-radius:6px;border:1px solid #84bbf3;display:inline-block;color:#ffffff;font-family:arial;font-size:15px;font-weight:bold;padding:6px 24px;text-decoration:none;text-shadow:1px 1px 0px #528ecc}
.bluebutton:hover {background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #378de5), color-stop(1, #79bbff) );background:-moz-linear-gradient( center top, #378de5 5%, #79bbff 100% );filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#378de5', endColorstr='#79bbff');background-color:#378de5}
.bluebutton:active {position:relative;top:1px;} /* this imageless css button was generated by CSSButtonGenerator.com */
.form_test input:focus:invalid, .form_test textarea:focus:invalid { 
    background: #fff url(../img/invalid.png) no-repeat 98% center;
    box-shadow: 0 0 5px #d45252;
    border-color: #b03535;
    color:red;
}
.form_test input:focus:valid, .form_test textarea:focus:valid { 
    background: #fff url(../img/valid.png) no-repeat 98% center;
    box-shadow: 0 0 5px #52d452;
    border-color: #35b035;
    color:green
}
.maintitle{font-size:1.6em !important;margin-top:-2em !important}
.specifica th{background:darkblue;color:white}
.tredim{font-family:Verdana,sans-serif;line-height:1em;color:#ff6905;font-weight:bold;font-size:83px;text-shadow:0px 0px 0 rgb(230,80,-20),1px 1px 0 rgb(219,69,-31),2px 2px 0 rgb(207,57,-43),3px 3px 0 rgb(195,45,-55),4px 4px 0 rgb(184,34,-66),5px 5px 0 rgb(172,22,-78), 6px 6px 0 rgb(160,10,-90),7px 7px 6px rgba(0,0,0,0.7),7px 7px 1px rgba(0,0,0,0.5),0px 0px 6px rgba(0,0,0,.2)}
