<!-- 

  ============== Stylesheet inserted to cope with external reference problems ============== 

-->
<defs>
<style type="text/css">
<![CDATA[
/* Style sheet for the presentation slides */
/** The slides should have a rectangle with the background colour of the slide.
* This might be a temporary measure, but is currently necessary if one wants to print,
* ie, generate PDF files, from the slides!!!
*/
rect.background {fill:lightblue; stroke: none}

/* *************** The names are just an indication for the way it looks like on a dark blue background **** */
.yellowish      {stroke:black; fill:#FDFED3; color:#FDFED3; }
.darkYellowish  {stroke:black; fill:#ffff99; color:#ffff99; }
.greenish       {stroke:black; fill:#00bb55; color:#00bb55; }
.limish         {stroke:black; fill:lime;    color:lime; }
.whitish        {stroke:black; fill:white;   color:white;   }
.reddish        {stroke:black; fill:red;     color:red;     }
.pinkish        {stroke:black; fill:#ff33ff; color:#ff33ff; }
.pinkish2       {stroke:black; fill:#ff6699; color:#ff6699; }
.grayish        {stroke:black; fill:#c0c0c0; color:#c0c0c0; }

line.yellowish,     path.yellowish     { stroke: #FDFED3; }
line.darkYellowish, path.darkYellowish { stroke: #ffff99; }
line.greenish,      path.greenish      { stroke: #00bb55; }
line.limish,        path.limish        { stroke: lime; }
line.whitish,       path.whitish       { stroke: white; }
line.reddish,       path.reddish       { stroke: red; }
line.pinkish,       path.pinkish       { stroke: #ff33ff; }
line.pinkish2,      path.pinkish2      { stroke: #ff6699; }
line.grayish,       path.grayish       { stroke: #c0c0c0; }

text.greenish       {stroke:none; }
text.limish         {stroke:none; }
text.yellowish      {stroke:none; }
text.darkYellowish  {stroke:none; }
text.whitish        {stroke:none; }
text.reddish        {stroke:none; }
text.pinkish        {stroke:none; }
text.pinkish2       {stroke:none; }
text.grayish        {stroke:none; }



/* Various line styles */
line            {stroke:red; stroke-width:3}
path.arrow      {fill:red}
path.arrowLine  {stroke:red;stroke-width:3;}
line.arrow      {stroke:red;stroke-width:4;}
path.greenarrow {fill:green}
line.greenarrow {stroke:green;stroke-width:4;}
line.title      {stroke:#0C469C;stroke-width:6}

.dashed     {stroke-dasharray: 10 4;}

/* Ellipses */
ellipse           {fill:white; stroke:black; stroke-width:3}
ellipse.basic     {fill:lemonchiffon; stroke:black; stroke-width:3}

/* **************** Animation control circle ********************** */
circle.animationControl { fill:grey; stroke:none; }

/* Various rectangle styles */

rect                 {stroke:black; fill:white;}
rect.table           {stroke:black; fill:lemonchiffon}
rect.membershipTable {fill:#bbffbb; stroke:none}

rect.ac    {stroke:none; fill:#fff8dc}
rect.ui    {stroke:none; fill:#FFC1C1}
rect.ts    {stroke:none; fill:#C1C1FF}
rect.arc   {stroke:none; fill:#FFFFC1}
rect.in    {stroke:none; fill:#fff8dc}
rect.title {fill:white;  stroke:none}
rect.empty {fill:none; stroke:yellow; stroke-width:2 }

/* Membership table rectangles */
rect.americas { fill:rgb( 255, 215, 0)   }
rect.europe   { fill:rgb( 238, 130, 238) }
rect.pacific  { fill:rgb( 64, 224, 208)  }


/* All kinds of texts... */
text                   {font-family:Arial; font-size:20; font-weight:bold; color:#0C469C}
text.general           {color:white} 

/* Texts on the W3C Overview slide */
text.centre            {text-anchor:middle; color:seagreen}
text.right             {text-anchor:end;    color:navy}
text.left              {text-anchor:start;  color:seagreen}
text.list              {text-anchor:start;  color:white}
text.listMinor         {font-size:24; font-weight:bold; color:white}
text.listMajor         {font-size:32; font-weight:bold; color:white}
text.onTable           {color:blue}

text.major             {font-size:32; font-weight:bold;}
text.minor             {font-size:24; font-weight:bold;}
text.onBackground      {font-size:32;font-weight:bold; color:yellow}
text.onBackgroundMinor {font-size:24;font-weight:bold; color:yellow}
text.normal            {font-size:20; font-weight:bold; color:yellow }
text.note              {text-anchor:middle; font-size:16; }                   

text.title             {font-family:Arial;font-size:36; font-weight:bold; color:#0C469C}

text.rec               {text-anchor:middle;}
text.recOnBackground   {color:#FDFED3; text-anchor:middle }
text.cprec             {text-anchor:middle;color:green}
text.wd                {text-anchor:middle;color:red}
text.cm                {text-anchor:middle;color:blue}

text.signature         {font-family:Arial;  font-size:24;
                        font-style:italic;  font-weight:bold; color:#0C469C}
text.ac                {text-anchor:middle; color:rgb(100, 149, 197)}
text.ui                {text-anchor:middle; color:lime}
text.ts                {text-anchor:middle; color:yellow}
text.arc               {text-anchor:middle; color:red}
text.year              {text-anchor:middle; color:lime }

/* ************* Some style settings are for specific figures ******************* */
/* *** for the http 1.1 time diagram: http1p1.svg *** */

.packets    {stroke:#FDFED3; color: #FDFED3; fill:#FDFED3}
.msecs      {stroke:rgb(100, 149, 197); color: rgb(100, 149, 197); fill:rgb(100, 149, 197)}

/* *** for the overview slide in the Overview set *** */
rect.demo { fill:blue; stroke:none }  /* The small demo rectangles, put on a rect of class 'yellowish' */
]]>
</style>
</defs>

<!-- 
==========   end of Stylesheet inserted to cope with external reference problems =======
-->

