<!DOCTYPE html>
<html lang="en"><head>
    <meta content="text/html; charset=UTF-8" http-equiv="content-type">
    <!-- Changed by: $Id: pressrelease-tbl-turing-award.html.en,v 1.6 2017/04/04 10:56:48 coralie Exp $ -->
    <title></title>
    <link href="//www.w3.org/StyleSheets/press.css" rel="stylesheet" type="text/css">
    <style type="text/css">
     /*<![CDATA[*/
     dt { font-weight: bold }
     .info { letter-spacing: .25em; margin-left: 1em; font-variant: small-caps; opacity: .7}
     blockquote { margin-left: 0}
     .nav { text-align: center; }
     .testimonial { margin-left: 19%; margin-top: 0; margin-bottom: 2em }
     h3.org { float: left; width: 18%; margin-top: 0; }
     .QuoteAttr { font-style: italic; }
     #below { font-style: italic; font-size: 1.2em;}
     .logo {float: right; margin-left: 1em;}
     /*]]>*/</style>
</head>
<body>
    <p><a href="http://www.w3.org/"><img alt="W3C" src="http://www.w3.org/Icons/w3c_home" height="48" width="72"></a>
        <span class="info">Rilascio Immediato</span>
    </p>

    <h1>{{ page.title }}</h1>
    <hr>
    <div class="menu"><a href="https://www.w3.org/Press/Releases-2017#tbl-turing-award">Traduzioni</a>
        | <a href="https://www.w3.org/Press/">Archivio Comunicati Stampa W3C</a>
        | <a href="{{ "/archivio/comunicati-stampa.html" | prepend: site.baseurl }}">Archivio Comunicati Stampa in italiano</a>
    </div>
    <hr>

    {{ content }}

    <hr>
    <div class="menu"><a href="https://www.w3.org/Press/Releases-2017#tbl-turing-award">Traduzioni</a>
        | <a href="https://www.w3.org/Press/">Archivio Comunicati Stampa W3C</a>
        | <a href="{{ "/archivio/comunicati-stampa.html" | prepend: site.baseurl }}">Archivio Comunicati Stampa in italiano</a>
    </div>
</body>
</html>
